<div class="mb-10 overflow-y-auto max-h-[78vh] px-4">
    <div class="sticky top-0 left-0 bg-pink-200 rounded-lg z-50 p-2">
        <button (click)="contentChange.emit('inicio')">Back</button> <!--Boton para volver-->
    </div>
    <h1 class="font-bold mb-5">Carpetas</h1>
    <div class="grid grid-cols-6 gap-8">
        <div *ngFor="let folder of folders; let i = index"
            class="rounded-xl border border-black p-6 flex flex-col justify-between relative shadow-black shadow-md mb-2"
            [ngClass]="getBgColor(folder)">
            <button (click)="isMenuOpen[i] = !isMenuOpen[i]" class="absolute top-2 right-2">
                <i class="material-icons">more_vert</i>
            </button>
            <div *ngIf="isMenuOpen[i]" class="absolute top-8 right-2 bg-white rounded shadow-md">
                <button class="block px-4 py-2 text-sm" (click)="isMenuOpen[i] = false">Option 1</button>
                <button class="block px-4 py-2 text-sm" (click)="isMenuOpen[i] = false">Option 2</button>
                <button class="block px-4 py-2 text-sm" (click)="isMenuOpen[i] = false">Option 3</button>
            </div>
            <div>
                <h2 class="font-bold text-2xl mb-2">{{folder.title}}</h2>
                <p class="text-lg text-gray-500 mb-2">Última modificación: <br> {{folder.lastModified}}</p>
                <div class="flex items-center space-x-2 mb-2">
                    <img *ngFor="let user of folder.users" class="h-4 w-4 rounded-full" [src]="user" alt="user image">
                    <span class="text-sm text-gray-500">+2</span>
                </div>
            </div>
            <p class="text-sm text-gray-500 self-end p-2 rounded-md" [ngClass]="getBgNumColor(folder)">
                {{folder.files}} Archivos</p>
        </div>
    </div>
</div>