<!-- topbar.component.html -->
<div class="flex justify-between items-center mt-4 mr-10 p-4 shadow-black shadow-md rounded-xl bg-gray-50">
    <div class="flex space-x-4">
      <p class="text-blue-500 font-semibold">Inicio/</p>
    </div>
    <div class="flex space-x-8 items-center">
      <div class="relative">
        <input type="text" placeholder="Buscar" class="bg-gray-200 text-black p-2 rounded-lg mr-16 pl-8">
        <i class="material-icons absolute left-2 top-1/2 transform -translate-y-1/2">search</i>
      </div>
      <img class="h-12 rounded-full" src="assets/Jose.png" alt="PP">
      <p>Joseluas</p>
      <button class="rounded-full p-2">
        <i class="material-icons">settings</i>
      </button>
    </div>
</div>
 